.aboutUs-page{
    font-family: Vazir;
    /* overflow-x: hidden; */
}
.aboutUs-top-tile{
    font-size: 1.8em;
    color: #7B7D7D;
    padding-bottom: .5em;
    border-bottom: 1px solid #ffcc54;
    /* color: ; */
    /* text-shadow: 0 0 8px #ffcc54; */
}
.aboutUs-top-logo{
    color: #ffcc54;
    /* text-shadow: 0 0 8px #ffcc54; */
    /* color: #7d7d7d; */
}
.aboutUs-top-description{
    text-align: center;
    font-size: .9em;
    padding: 0 23.5em;
    margin-top: 1.3em;
}
.aboutUs-top-imgContainer{
    display: flex;
    justify-content: center;
}
.aboutUs-top-articleTitle{
    color: #7B7D7D;
    font-size: 1.5em;
    margin-bottom: 1.5em;

}
.aboutUs-top-img{
    width: 100%;
    height: 300px;
    border-radius: 4px;
    object-fit: cover;
}
.aboutUs-top-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 45px;
    padding: 2em 9em;
    margin-top: 5em;
}
.aboutUs-top-content-2{
    margin-top: 5em;
}
.aboutUs-swiper-container{
    width: 70%;    
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width:1201px){
    .aboutUs-top-content{
        padding: 2em 6em
    }
    .aboutUs-top-description{
        padding: 0 19em;
    }
    .aboutUs-swiper-container{
        width: 90%;    
    }
}

@media only screen and (max-width:980px){
    .aboutUs-top-content{
        padding: 2em 2em
    }
    .aboutUs-top-description{
        padding: 0 10em;
    }
}
@media only screen and (max-width:850px){
    .aboutUs-top-content{
        grid-template-columns: 1fr;
        grid-row-gap: 45px;
    }
    .aboutUs-top-imgContainer{
        margin-left: 0 !important;
    }
    .aboutUs-top-img2{
        grid-row: 1/2;
    }
    .aboutUs-top-description{
        padding: 0 4em;
    }
    .aboutUs-page{
        font-size: 13px;
    }
    .aboutUs-swiper-container{
        width: 98%;    
    }
}
@media only screen and (max-width:550px){
    .aboutUs-top-description{
        padding: 0 1em;
    }
    .aboutUs-top-content{
        padding: 2em;
    }
    .aboutUs-page{
        font-size: 12px;
    }
}
