.aboutUs-page{
    font-family: Vazir;
    overflow-x: hidden;
}
.aboutUs-swiper-container{
    width: 70%;    
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;
}
.aboutUs-rateStatics{
    width: 100%;
    display: flex;
    margin-top: 3em;
    justify-content: center;
}
.aboutUs-rateStatics-content-container{
    padding: 0 2em 2em 2em;
    display: flex;
    justify-content: space-around;
    /* height : 350px; */
}
.aboutUs-rateStatics-content-container-right{
    height: 100%;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(12, 60px);
    grid-auto-flow: column;
}
.aboutUs-rateStatics-container{
    width: 80%;   
}
.aboutUs-rateStatics-divider{
    width: 100%;
    height: 10px;
    background-color: #FAD3D8;
    border-radius: 50px;
}
.ratecolumnContainer{
    display:flex;
    height:300px;
    flex-direction: column;
    align-items: center;
}
.rate-column{
    display: flex;
    align-items: flex-end;
    padding: 0 !important;
    width: 15px;
    /* background-color: red;
    background-size: 50% auto; */
    border-radius: 5px;
    height: 100%;
    border: 1.4px solid var(--grey);
}
.rateCustomer-container{
    display: flex;
    padding-bottom: 1.3em;
    margin-top: 1.3em;
}
.employee-accordionContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 5em;
}
.employee-accordionList{
    grid-column: 3 / 11;
    border: 1.5px solid #000;
    border-radius: 10px;
    padding: 0;
}
.acordion-item-button{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2em 15px 2em;
}
.acordion-item-imgProfileContainer{
    width: 15%;
    height: 100px;
}
.acordion-item-button-middle{
    width: 80%;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}
.acordion-item-imgProfile{
    border-radius: 50%;
    width: 100px;
    object-fit: cover;
    height: 100%;
}
.acordion-item-content{

    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;  
}
.show-acordion{
    border-bottom: 1.5px solid #000;
    display: flex;
    justify-content: space-between;
    padding:2em 1.5em;
}
.acordion-item-button-middle-info-title{
    color: var(--grey2);
    font-weight: 550;
    font-size: 1em;
    margin-bottom: .45em;
}
.acordion-item-button-middle-infoContainer{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.acordion-item-content-ratecolumnsContainer{
    width: 40%;
}
.acordion-swiper-img{
    width: 100px !important;
    height: 100px !important;
    border-radius: 10px;
}
.accordinSwiper-container{
    width: 30%;
}



@media only screen and (max-width:1201px){
    .aboutUs-swiper-container{
        width: 90%;    
    }
}

@media only screen and (max-width:980px){

}
@media only screen and (max-width:850px){

    .aboutUs-page{
        font-size: 13px;
    }
    .aboutUs-swiper-container{
        width: 98%;    
    }
}
@media only screen and (max-width:550px){
    .aboutUs-page{
        font-size: 12px;
    }
}
