.footer{
    background: #fff;
    /* background: -webkit-linear-gradient(to right, #434343, #000000); 
    background: linear-gradient(to right, #434343, #000000); */
    color:  var(--grey);
    padding: 3em 4em; 
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    grid-column-gap: 45px;
    grid-row-gap: 50px;
    justify-items: center;
    border-top: 13px solid var(--lightPurple);
    font-family: Vazir;
}
.footer-title{
    color: var(--grey);
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 1.3em !important;
}
.footer-part{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}
.footer-linkList{
    padding: 0;
    margin-top: 1em;
}
.footer-linkList li{
    margin-bottom: 1.6em;
}
.footer-bottom-section{
    display:flex;
    padding: 3em 0 0 0;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.footer-bottom-iconContainer{
    display:flex;
    margin-bottom: 30px;
}
.footer-social-container{
    margin-left: 1.5em;
    border: 1px solid #000;
    padding:.8em;
    padding-bottom:.6em;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 50%;
    transition:all .7s
}
.footer-social-icon{
    color: #000;
    font-size: 1.5em;
    display: flex;
    font-weight: 500;
    justify-content:center;
    align-items: center;
}
.footer-icon{
    width: 30px;
    height: 30px;
}
.footer-social-container:hover{
    border-color: #fff;
}
.footer-social-container:hover .footer-social-icon{
    animation: shakeIcon .5s;
    color: #fff;
}
.twitter:hover ,.facebook:hover{ 
    background-color:#1da1f2;
}
.footer-part-title{
    color: var(--grey);
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: .5em;
}
.instagram:hover{
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,#fd5949 45%, #d6249f 45%, #d6249f 60%, #285AEB 90%);
}
.youtube:hover
{
    background-color:red
}
@keyframes shakeIcon {
    10%{
        transform: rotate(15deg)
    }
    20%
    {
        transform: rotate(-15deg)
    }
    30%
    {
        transform: rotate(15deg)
    }
    40%
    {
        transform: rotate(-15deg)
    }
}
.footer-hover{
    transition: .4s all;
}

.footer-text{
    line-height: 1.6;
    color: #6A6767;
}
.footer-item{
    color: var(--grey2) !important;
    font-weight: 600;
}
.footer-hover:hover{
    color: var(--purple) !important;
}
/* -------------------------------- media queries ------------------------------ */
@media only screen and (max-width: 768px){
    .footer{
        grid-template-columns: 1fr;
        justify-items: start;
        justify-content: start;
    }
    .footer section:not(.footer section:last-child){
        border-bottom: 1px solid #a5a5a5;
    }
    .footer section{
        width: 100%;
        padding-bottom: .8em;
    }
    .footer{
        font-size: 15px;
    }
    .footer-bottom-iconContainer{
        justify-content: center;
    }
}

/* @media only screen and (max-width: 768px){
    .footer{
        font-size: 15px;
    }
    .footer-bottom-section{
        justify-content: center;
    }
} */

@media only screen and (max-width: 600px){
    .footer{
        font-size: 13px;
    }
}
@media only screen and (max-width: 500px){
    .footer{
        padding: 2em;
        font-size: 12.5px;
    }
}
@media only screen and (max-width: 345px){
    .footer{
        padding: 1em;
    }
}