
.home-header{
    height: 93vh;
    background-color: #fff;
}
.navbarContainer{
    width: 100%;
    color: var(--grey);
    display: flex;
    align-items: center;
    padding: 1em;
    z-index: 3;
    position: relative;
}
/* .sticky{
    position: fixed;
    top: 0;
} */
.nav-links-container{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: 550;
}
.nav-link-hover{
    transition: .3s all;
    cursor: pointer;
}
.nav-link-hover:hover{
    color: var(--purple);
}
.slider-container{
    height: 310px;
    margin-top: 5em;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(12, 1fr);
}
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    grid-row: 1 / 7;
    grid-column-start: 3;
    grid-column-end: 9;
}
.slider-width{
    width: 50%;
}
.slideItem{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 1.2s all;
    text-align: center;
}
.show-slide{
    opacity: 1 !important;
    visibility: visible;
}
.slide-btn{
    background-color: var(--grey) !important;
    color: #fff !important;
    margin-top: 1em;
    border-radius: 28px !important;
    padding: .8em 1.5em !important;
    border: 1px solid var(--grey);
    transition: all .5s !important;
}
.slide-btn:hover{
    background-color: #fff !important;
    color: var(--grey) !important;
}
.slide-title{
    font-size:2.5em;
    line-height: 1.2;
    font-weight: 600;
    color: var(--grey);
    margin-bottom: .8em;
}
.slide-description{
    font-size: 1em;
    font-weight: 500;
}
.nav-services{
    position: absolute;
    color: var(--grey);
    /* color: #000; */
    background-color: var(--pink);
    padding: 1em;
    border-radius: 10px;
    width: 141px;
    opacity: 0;
    font-size: 1.3em;
    visibility: hidden;
    transform: translate(0px, -20px);
    transition: .5s all;
    box-shadow: 0px 0px 7px rgba(57, 56, 56, 0.164) ;
}
.show-nav-serive{
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 20px);
}
.nav-menu-icon-container{
    position: relative;
    width: 100%;
    display: none;
    justify-content: start;
    transition: all 1s;
}
.nav-menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    animation: moverightNavIcon .5s ;
}
.showNavMenu{
    opacity: 1 !important;
    transform: translate(0, 0px) !important;
    visibility: visible !important;
}
@keyframes moverightNavIcon {
    0% {
        right: 11%;
    }
    100%{
        right: 0%;
    }
}
@keyframes moveleftNavIcon {
    0% {
        right: 0;
    }
    100%{
        right: 11%;
    }
}
.show-modeicon{
    animation: moveleftNavIcon .5s forwards;
}
/*------------------------------------------ media queries ---------------------------------*/

@media only screen and (max-width : 980px){
    .slider{
        grid-column:  2 / 8;
    }
    .header-topPart{
        padding: .5em 5em;
    }
}
@media only screen and (max-width : 770px){
    .header{
        font-size: 14px;
    }
    .slider{
        grid-column:  2 / 11;
    }
    .navbarContainer{   
        flex-direction: column;
        align-items: center;
        background-color: inherit;
        justify-content: center;
    }
    .nav-links-container{
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, .7);
        padding:1em 0em;
        opacity: 0;
        align-content: center;
        justify-items: center;
        visibility: hidden;
        transform: translate(0, -20px);
        transition: all .5s;
        width:70%;
        border-radius: 8px;
        top: 69px;
        position: absolute;
    }
    .nav-links-container li:not(.nav-links-container li:last-child ){
        margin-bottom: 1em;
    }
    .nav-menu-icon-container{
        display: block;
    }
    .nav-services{
        position: static;
        margin-top: 1em;
        padding: 0;
        display: none;
        background-color: inherit;
        justify-content: center;
        align-items: center;
    }
    .show-nav-serive{
        transition: .5s all;
        height: 100%;
        flex-direction: column;
        width: 100%;
        display: flex;
        transform: translate(0, 0);
    } 
}
@media only screen and (max-width : 600px){
    .slider-container{
        display: none;
    }
    .header-topPart{
        padding:.5em 2em;
    }

}
@media only screen and (max-width : 580px){

    .header-logo{
        grid-column: 1 / -1;
    }
}

/* ------------------------------- new version ------------------------- */
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /* height: 50vh; */
    position: relative;
    background-position-y: 60%;
    font-family: Vazir;
}
.headerContainer{
    display : flex;
    justify-content: flex-end;
}
.home-page-header-imgContainer{
    width:36%;
    overflow: hidden;
    -webkit-clip-path: polygon(82% 12%, 100% 48%, 76% 98%, 22% 98%, 0 48%, 25% 12%);
    clip-path: polygon(82% 12%, 100% 48%, 76% 98%, 22% 98%, 0 48%, 25% 12%);
    position: absolute;
    right: -86px;
    top: -88px;
    transform: rotate(9deg);
    height: 500px;    
}
.home-page-header-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-contentContainer{
    width: 74%;
}
.icon-size{
    width: 35px;
}
.header-topPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.1em;
    padding:  .8em .8em;
    color: var(--pinkT2);
}
.header-logo-h1{
    color: var(--pinkT2);
    font-size: 25px;
    margin-right: 5.2em;
    font-weight : 580 !important;
}
.logoutFont{
    font-weight: 550;
}
.header-bottom-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightPurple);
    width: 88%;
    padding: .6em 1.4em;
    border-radius: 16px;
    color: var(--grey);
}
.active-link{
    padding-bottom: .4em;
    border-bottom: 3px solid var(--pinkT2);
}
/* -------------------------------- service page ------------------------------- */
.service-header-img-container{
    width: 38%;
}
.service-header-img{
    width: 100%;
}
.service-header-headBottom{
    display: flex;
    justify-content: space-between;
}
.service-header-imgContainer{
    width: 32%;
    height: 400px;
    padding-right: 1.2em;
}
.service-header-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 85px 20px 20px 85px;
}
.service-header-contentContainer{
    width: 68%;
}
.service-header-topPart{
    padding: 1.5em 2.5em;
    padding-bottom: .8em;
    font-weight: 400;
    /* font-size: 15em !important; */
}
.header-aboutUs-right-imgContainer{
    display: flex;
    width: 32%;
    padding-right: 1.5em
}
.header-aboutUs-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 1.5em;
}
.header-aboutUs-intro-h2{
    font-weight: 700;
    color: var(--grey);
    font-size: 2em;
    margin-bottom: 1.7em;
}
.header-aboutUs-intro-p{
    color: var(--grey2);
    font-weight: 700;
    line-height: 1.9;
    font-size: 1.15em;
}
.header-aboutUs-imgContainer{
    width: 220px;
    height: 300px;
}
.header-aboutUs-img{
    width: 100%;
    border-radius: 123px;
    object-fit: cover;
    object-position: center;
}
