.reserve-page{
    background-color: #fff;
    /* background-image:  linear-gradient( rgba(0 0, 0, .5) ,  rgba(0 0, 0, .5) ), url("/imgs/reserve-background.png")  ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px -100px;
    padding-bottom: 3em;
    font-family: Vazir;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 350px max-content;
    /* grid-row-gap: 20px;  */
    position: relative;
    padding: 1.2em 1.5em;
    min-height: 80vh;
}
.selectedReserveType{
    /* padding-bottom: .6em; */
    border-bottom: 2.8px solid var(--purple);
}
.reserve-reserveType-selection{
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    display: flex;
}
.reserve-stepsContainer{
    grid-column: 5 /10;
}
.reserve-step{
    cursor: pointer;
}
.reserve-header{
    grid-column: 1/-1;
}
.reserveNav{
    width: 100%;
    display: flex;
    color: var(--purple);
    font-weight: 600;
    justify-content: space-between;
}
.reserveNav-right{
    display: flex;
}
.icon-size{
    width: 35px;
}
.border-left{
    border-left: 2.7px solid var(--purple) ;
    padding: .5em .6em;
}
.header-bottom{
    width: 100%;
    background: url("../imgs/reserve-headerBack.png");
    height: 237px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 2em;
    padding-top: 5em;
}
.header-bottom-nav{
    background-color: rgba(250, 211, 216, 0.72);;
}
.header-bottom-nav-linkList{
    padding: .5em 2.3em;
    display: flex;
    /* grid-row-gap: 1.5em; */
    /* justify-content: flex-start; */
    /* grid-template-columns: repeat(4, 1fr) */
;
}
.header-bottom-nav-linkItem{
    font-weight: 700;
    font-size: 1.05em;
    color: var(--grey);
    margin-left: 6.2em;
}

.selected-step{
    border-bottom: 2px solid #ffcc54;
    padding-bottom: .3em;
}
.selected-step .stepIcon{
    background-color: #ffcc54 !important;
}
.reserve-employee{
    display: flex;
    align-items: center;
    margin-bottom: .8em;
    cursor: pointer;
    background-color: #eee;
    /* border: 1.5px solid rgba(52, 51, 51, 0.208); */
    padding: .7em;
    color: #423f3f;
    border-radius: 8px;
    transition: .1s all;
}
.reserve-employee:hover{
    box-shadow: 0 0 8px var(--yellow);
}
.reserve-employee-img{
    width: 70px;
    height: 70px;
}
.reserve-employee-info{
    display: flex;
    flex-direction:column;
    margin-right: .9em;
    justify-content: space-evenly;
    align-content: center;
    /* justify-content: space-evenly; */
}
.chooseEmployee-section{
    width: 50%;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}
.chooseEmployee-container{
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
    direction: ltr;
    /* background: rgba(70, 69, 69, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px); */
    /* background-color: #e5e5e5; */
    box-shadow: 0 0 5px #0000004c;
    border-radius: 8px;
    padding: 1em;
}
.chooseEmployee-container::-webkit-scrollbar {
    width: 10px;
}
.chooseEmployee-container::-webkit-scrollbar-track {
    background-color: #fff;
}
.chooseEmployee-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 8px #ffcc54;
}
.chooseEmployee-container {
    scrollbar-width: thin;
}
.chooseEmployee-container {
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}
.reserveSelectionContainer{
    display: flex;
    height: max-content;
    grid-column: -2 / -14;
    grid-row-start: 3;
    flex-direction: column;
    /* background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1); */
    background-color: #fff;
    padding: 2.2em 1.8em ;
    border-radius: 5px;
    z-index: 2;
}
.chooseTypeBtn{
    border: none;
    background-color: inherit;
    color: var(--grey);
    font-weight: 600;
    font-size: 1.05em;
    margin-left: 1.5em;
    padding: 0 .4em .2em .4em;

}
.selectBtn{
    border-bottom: 3px solid var(--grey);
}
.reserveReserveTypeBtnContainer{
    background-color: var(--lightPurple);
    border-radius: 50px;
    width: 100%;
    padding: .4em 1.3em;
    margin-bottom: 5em;
    margin-top: 5em;
    display: flex;
    align-items: center;
}
.reserveReserveType{
    color: #fff;
    margin-top: 3.7em;
}
.selectedEmployee { 
    background-color: #ffcc54bf;
}
.calendarInput{
    border-radius: 15px;
    border: 1px var(--yellow) solid;
    padding: 4px 12px;
    background-color: white;
    height: 22px;
    box-shadow: 0 0 2px #0074d9;
}
.calendarInput:focus{
    outline: none;
  border: 1px solid var(--yellow);
  box-shadow: 0 0 10px 2px var(--yellow);
}

/*------------------------------reserve result ---------------------------- */
/* .reserve-result{
    width: 100%;
    border-top: 1px solid #8d8c8c;
    margin-top: 2em;
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    transform: translate(0px, 140px);
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.show-reserve-result{
    transform: translate(0px, 0px);
    visibility: visible;
    opacity: 1;
}
.reserve-result-input{
    background-color: #eee;
    padding: .7em 1em;
    border-radius: 5px;
    color: var(--dark);
    border: 1px solid rgba(0, 0, 0, 0.055);
} */
.confirm-reserve-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.submit-reserve-btn{
    color: var(--grey);
    background-color: var(--lightPurple);
    padding: .5em 5.5em;
    font-size: 1.3em;
    border-radius: 25px;
    margin-left: 10%;
    font-weight: 700;
}
.submit-reserve-btn:hover{
    animation: submitAnimation 1.8s linear infinite alternate;
}
@keyframes submitAnimation {
    0%{
        box-shadow: 0 0 2px var(--purple);
    }
    100%{
        box-shadow: 0 0 15px var(--lightPurple);
    }
}
.result-label{
    color: #423f3f;
}
/* ------------------------- drop down ------------------------------*/
.chooseService-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
.DropDown{
    position:relative;
    color: var(--grey2);
    border-radius: 10px;
}
.DropDown-select{
    padding:.5em 1em;
    color: var(--grey2);
    background-color: #fff;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    border: 1.5px solid rgba(69, 62, 62, 0.619);
    /* box-shadow: 0 0 7px #0000002f; */
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.DropDown-options{
    width: 100%;
    padding: 0;
    z-index: 300;
    position:absolute;
    /* grid-row-gap: 18px; */
    display: grid;
    grid-template-columns:1fr;
    grid-auto-flow:row;
    grid-auto-columns: 160px;
    grid-column-gap: .8em;
    justify-items: start;
    border-radius: 10px;
    background-color: #fff;
    /* box-shadow: 0 0 7px #0000002f; */
    border: 1.5px solid rgba(69, 62, 62, 0.619);
    margin-top: 1em;
    transition:all .5s;
    visibility:hidden;
    transform: translateY(-30px);
    opacity: 0;
    overflow: hidden;
}
.test{
    position: absolute;
}
.DropDown-options-options{
    width: 100%;
    display: flex;
    cursor: pointer;
    transition:all .3s;
    padding: .8em;
    font-weight: 700;
    font-style: 1.1em;
}
.option-border{
    border-bottom: 1px solid rgba(69, 62, 62, 0.619);
}
.DropDown-options-options-imgContainer{
    width: 60px;
    height: 60px;
    margin-left: 1.5em;
}
.DropDown-options-options-img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}
.DropDown-options-options:hover{
    background-color: var(--lightPurple);
}
.DropDown-options-optionInfo{
    display: flex;
    flex-direction: column;
}
.show{
    visibility:visible;
    opacity: 1;
    transform: translateY(4px);
}
/* -------------------------------reserve nav------------------------------------------*/
.choose-date-container{
    display: flex;
    width: 40%;
    margin: auto;
    height: max-content;
    flex-direction: column;
    margin-bottom: 3em;
}
/* ----------------------------------- media queries --------------------------------*/
.date-box-item{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--grey2);
    border-radius: 60px;
    width: 65px;
    border: 1.5px solid #000;
    transition: all .4s;
    font-size: .86em;
    padding: .4em;
    cursor: pointer;
    justify-content: center;
    position:relative;
    z-index: 5;
    height: 100%;
}
.date-box-item:hover{
    background-color: var(--lightPurple);
}



/* ----------------------------- date box swiper ------------------------------------- */
@media only screen and (max-width:1050px ){

}
@media  only screen and (max-width:870px ){
    .reserve-page{
        background-position: 0 0;
        font-size: 15px;
    }
    .reserveSelectionContainer{
        grid-column: 2 / 14;
    }
    .chooseEmployee-section{
        width: 100%;
        margin-bottom: 2.3em;
    }
    .choose-date-container{
        width: 100%;
        align-items: center;
    }
    .reserveSelectionContainer{
        padding: 2.2em .8em;
    }
    .chooseService-section{
        grid-template-columns: 1fr;
        grid-row-gap: 38px;
    }
}

@media only screen and (max-width:690px ){
    .reserve-page{
        grid-row-gap: 13px;
    }
}

@media only screen and (max-width:550px ){
    .reserve-page{
        font-size: 14px;
    }
    .chooseEmployee-container{
        padding: .6em;
    }
}