.service{
    width: 100%;
    font-family: Vazir;
    overflow-x: hidden;
    overflow-y: hidden;
}
.topEmployeesContainer{
    padding: 1.5em 2.5em;
}
.reserve-topEmployees-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    width:40%;
    justify-content: center;
}
.reserve-topEmployees-left{
    width: 60%;
}
.topEmployee-item{
    display: flex;
    padding: 1em;
    padding-right: 2.8em;
    background-color: var(--pink);
    border-radius: 500px;
}
.topEmployee-item-profile{
    width: 35%;
    border-radius: 50%;
    height: 100%;
}
.topEmployee-item-profile-img{
    /* width: 300px; */
    /* border-radius: 50%; */
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(44% at 50% 50%);
    object-fit: cover;
    /* height: 300px; */
}
.topEmployee-item-info{
    width: 65%;
}
.topEmployee-head-title{
    color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    margin-bottom: .5em;
}
.topEmployee-item-feature-list{
    list-style: none;
    /* margin-right: 2.1em; */
    margin-top: 1.3em;
}
.topEmployee-item-feature-list-item{
    display: flex;
    align-items: center;
    color: var(--grey);
    height: 33px;
    font-size: .8em;
    font-weight: 600;
}
.topEmployee-item-feature-list-item::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--purple); 
    font-weight: bold; 
    font-size: 2em;
    display: inline-block; 
    margin-left: .3em;
}
.topEmployee-item-biography{
    font-size: .7em;
    border-right: 3px solid var(--purple);
    text-align: start;
    font-weight: 450;
    color: var(--grey);
    padding-right: .5em;
}
.reserve-topEmployees-reserBtn{
    font-size: 1em;
    font-weight: 500;
    border-radius: 20px;
    padding: .5em 2em;
    transition: .4s all;
}
.reserve-topEmployees-reserBtn:hover{
    background-color: var(--pink);
    color: var(--purple) !important;
}
.service-popularService{
    margin-top: 3.5em;
    padding: .5em 2em;
}
.service-popularService-title{
    font-size: 1.7em;
    color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.service-popularService-swiperItem{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 350px;
    padding: 1.5em 3.2em; 
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    justify-content: center;
}
.service-popularService-swiperItem-info{
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #ffffff73;
    border-radius: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .8em;
}

.service-detailBox-container{
    width: 100%;
    margin-top: 5em;
    padding: 1em 3.3em;
    display: grid;
    justify-items: center;
    grid-template-columns: 1;
    grid-row-gap: 45px;
    margin-bottom: 3.5em;
}
.service-deatilBox{
    width: 58%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink);
    border-radius: 10px;
    padding: 1em 3em;
    transition: all .5s ;
}
.service-deatilBox:hover{
    margin: 0 !important;
    /* width: 65%; */
    transform: scale(1.05);
}
.service-deatilBox-right{
    width: 60%;
    height: 100%;
    justify-content: space-around; 
}
.service-deatilBox-left{
    width: calc(27% - 1em);
    justify-content: center;
    align-items: center;
}
.service-deatilBox-left-img{
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
    height: 200px;
    box-shadow: 0 0 5px #af496054;
}