.service{
    width: 100%;
    font-family: Vazir;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
}
.topEmployeesContainer{
    padding: 1.5em 2.5em;
}
.reserve-topEmployees-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    width:40%;
    justify-content: center;
}
.reserve-topEmployees-left{
    width: 60%;
}
.topEmployee-item{
    display: flex;
    padding: 1em;
    padding-right: 2.8em;
    background-color: var(--lightPurple);
    border-radius: 500px;
}
.topEmployee-item-profile{
    width: 35%;
    border-radius: 50%;
    height: 100%;
}
.topEmployee-item-profile-img{
    /* width: 300px; */
    /* border-radius: 50%; */
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(44% at 50% 50%);
    object-fit: cover;
    /* height: 300px; */
}
.topEmployee-item-info{
    width: 65%;
}
.topEmployee-head-title{
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: .5em;
}
.topEmployee-item-feature-list{
    list-style: none;
    /* margin-right: 2.1em; */
    margin-top: 1.3em;
}
.topEmployee-item-feature-list-item{
    display: flex;
    align-items: center;
    color: var(--grey);
    height: 33px;
    font-size: 1em;
    font-weight: 700;
}
.topEmployee-head-title-info{
    font-weight: 800;
    font-size: 1.25em;
    margin-top: .4em;
}
.topEmployee-item-feature-list-item::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #E090AD; 
    font-weight: bold; 
    font-size: 2em;
    display: inline-block; 
    margin-left: .3em;
}
.topEmployee-item-biography{
    font-size: .9em;
    border-right: 3px solid #E090AD;
    text-align: start;
    font-weight: 700;
    color: var(--grey);
    padding-right: .5em;
}
.reserve-topEmployees-reserBtn{
    font-size: 1.1em;
    font-weight: 450;
    background-color: var(--grey);
    color: #fff !important;
    border: 1px solid var(--grey);
    border-radius: 25px;
    padding: .5em 2em;
    transition: .4s all;
}
.reserve-topEmployees-reserBtn:hover{
    background-color: #fff;
    color: var(--grey) !important;
}
.service-popularService{
    margin-top: 4.3em;
    padding: .5em 2em;
}
.service-popularService-title{
    font-size: 1.8em;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.service-popularService-swiperItem{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 350px;
    padding: 1em 2em; 
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    justify-content: center;
}
.service-popularService-swiperItem-info{
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid #ffffff73;
    border-radius: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .4em 1em;
}
.service-popularService-servicesLinks{
    background-color: var(--lightPurple);
    border-radius: 8px;
    margin-top: 1.9em;
    padding: .65em;
    position: relative;
    display: flex;
    justify-content: center;
}
.service-popularService-servicesLinks-li{
    color: var(--grey);
    font-weight: 650;
    margin-left: 1.8em;
    font-size: 1.2em;
    padding: 0 .3em .2em .3em;
}
.active-link{
    border-bottom: 2.7px solid var(--grey);
}

.service-detailBox-container{
    width: 100%;
    margin-top: 5em;
    padding: 1em 3.3em;
    display: grid;
    justify-items: center;
    grid-template-columns: 1;
    grid-row-gap: 45px;
    margin-bottom: 3.5em;
}
.service-deatilBox{
    width: 58%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightPurple);
    border-radius: 10px;
    padding: 1em 3em;
    transition: all .5s ;
}
.service-deatilBox:hover{
    /* margin: 0 !important;
    transform: scale(1.05); */
    box-shadow: 0 0 10px #e498b3;
    transition-duration: .5s ;
}
.service-deatilBox-right{
    width: 60%;
    height: 100%;
    justify-content: space-around; 
}
.service-deatilBox-left{
    width: calc(27% - 1em);
    justify-content: center;
    align-items: center;
}
.service-deatilBox-left-img{
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
    height: 200px;
    box-shadow: 0 0 5px #af496054;
}
.service-deatilBox-description{
    font-weight: 550;
    font-size: 1em;
    line-height: 2;
    color: #000;
}